<div class="container" style="width: 80%; display: none" id="book-api-div">
  <span class="close" onclick="closeDiv(this)" style="cursor: pointer">x</span>
  <table id="book-api-table" class="cell-border compact stripe">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>First publish year</th>
        <th>Abstract</th>
      </tr>
    </thead>
    <tbody id="api-body"></tbody>
  </table>
</div>