<div class="container" style="display: none" id="image-div">
  <p class="close" onclick="closeDiv(this)" style="cursor:pointer; text-align:right; margin-right: 65px">x</p>
  <div class="row">
    <div class="col" id="color-picker">
      <span>Select background colour: </span><br><input type="color" id="background-colorpicker" value="#1da1f2" onclick="changeBackgroundColor()"><br>
      <span>Select text colour: </span><br><input type="color" id="text-colorpicker" value="#ffffff" onclick="changeTextColor()"><br>
    </div>
    <div class="col" id="preview-image-div">
      <h5>Preview Image</h5>
      <div class="form-control col-sm" id="image-template" style="height: auto; width: 400px; margin: 30px 30px 0px 30px; border-radius: 15px" contenteditable="true"></div><br>
    </div>
  </div>
</div>